* {
   box-sizing: border-box;
   margin:0;
   padding:0;  
}
   

body {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

footer {
  font-family: "Cairo", sans-serif;
  font-weight: 200;
  font-size:9px;
  line-height: 1.5;
  background: #FFF;
  color:#670305;
  
  
}

body,
h1,
h2,
h3,
p {
  margin:0;
}


img {
  width:100%;
  
}


.container {
  margin: auto;
  width: min(90%, 70.5rem);
}

.text-center{
  text-align: center;
  align-items: center;

}

header, 
section {
  padding: 1rem 0;
  
}

header {
  background-color:#green;
}


.banner-area img {
    width:300px;
  
}

.banner-area h2 {
  font-family: "Caveat", cursive;
  font-size:40px;
  margin-bottom:5px;
  color:#670305;
}

.banner-area h1 {
  font-family: "Caveat", sans-serif;
  font-size:70px;
  color:#670305;
  line-height: 1.5;
}
}

.footer hr {
  height:7px;
  color:#670305;
}


.craft-classes { 
  color: #670305;
  padding:30px;
  
}

.craft-gallery {
  background-color:#3B0918;
}

.craft-gallery h2,
.craft-gallery p {
  color: #FFF;
 
}

.passion-area {
  font-family: "Caveat", serif;
  font-size: 3rem;
    
}


.craft-classes img,
.craft-classes p { 
   padding:30px;
  
}

.craft-materials {
  color:#3B0918;
  background:#FFF3D9;
}


.craft-materials img {
 
      border:2px solid #000;
      box-shadow: 10px 10px 5px #B8390E;
      -moz-box-shadow: 10px 10px 5px #B8390E;
      -webkit-box-shadow: 10px 10px 5px #3B0918;
     
}


.footer-area img {
  width:15%;
}


